<div class="container">
    <div class="logo-container">
        <div class="company-product">
            <img class="logo" src="../../../assets/svgs/nice-logo.svg" alt="nice">
            <img class="dot" src="../../../assets/svgs/dot.svg" alt=".">
            <span>engage</span>
        </div>
        <div class="product-component">
            <span>Compliance Center</span>
        </div>
        
    </div>
    <!-- <img src="../../../assets/svgs/nice-logo.svg" alt="nice">
    <h1>Welcome to the Compliance Center</h1>
    <p>Select an application to proceed:</p> -->
  
    <div class="app-selection">
      <a mat-raised-button color="primary" routerLink="/compliance-assurance">
        <i class="fas fa-check-square fa-3x"></i>
        Compliance Assurance
      </a>
      
      <a mat-raised-button color="primary" routerLink="/policy-manager">
        <i class="fas fa-book fa-3x"></i>
        Policy Manager
      </a>
    </div>
  </div>
  